In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("problems.csv")

In [6]:
df.head()

,Unnamed: 0,id,puzzle,solution,clues,difficulty
0,600351,600352,6..3...2...2.....38.7..49.54.5...8..9..4.....2...,6413597285928714638372649154751928369134862572...,23,3.6
1,1180703,1180704,...5....23.7....8...8.96...67....1...4...86......,4165839723972415862587964316793521485419786238...,23,1.6
2,2503470,2503471,...4.....5....6.18.6.7.2.............4.68.19.1...,9314587265729364184687123596831945722476851931...,25,1.9
3,1521210,1521211,4.6.7.....536.....8.753....6...85.4........9.....,4961783251536428798275396146397851425814237962...,24,3.0
4,810949,810950,8..........4.1...5..536....4..721........8..9....,8392756416748192351253649874967213583516487292...,23,1.3

In [4]:
df.describe()

         Unnamed: 0            id         clues    difficulty
count  3.000000e+04  3.000000e+04  30000.000000  30000.000000
mean   1.497223e+06  1.497224e+06     24.308233      1.238630
std    8.641903e+05  8.641903e+05      1.100787      1.274092
min    9.600000e+01  9.700000e+01     21.000000      0.000000
25%    7.485075e+05  7.485085e+05     24.000000      0.000000
50%    1.497816e+06  1.497818e+06     24.000000      1.200000
75%    2.241585e+06  2.241586e+06     25.000000      2.200000
max    2.999870e+06  2.999871e+06     29.000000      7.300000

In [11]:
df.dtypes

Unnamed: 0      int64
id              int64
puzzle         object
solution       object
clues           int64
difficulty    float64
dtype: object

In [17]:
len( df.query( " difficulty >= 1.2 " ) )

15457

81